__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
ENVBICARAKAN/
venv/
.venv
Include/
Lib/
Scripts/
share/
pyvenv.cfg
.env
*.log
*.faiss
*.index
knowledge/
vectorstore/
.cache/
huggingface/
.DS_Store
Thumbs.db
.vscode/
.idea/